@using PickItEasy.Application.Services

<EditForm Model="@SearchModel" OnSubmit="HandleSubmit">
    <div class="row">
        <div class="col">
            @if (SearchModel is not null)
            {
                <InputSelect class="form-select" id="summary" @bind-Value="SearchModel.Summary">
                    <option value="">Select...</option>
                    @foreach (var item in WeatherForecastService.Summaries)
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            }
        </div>
        <div class="col"><button class="btn btn-primary" type="submit">Search</button></div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<SearchWeatherForecastModel> Search { get; set; }

    [Parameter]
    public SearchWeatherForecastModel? SearchModel { get; set; }

    private async Task HandleSubmit()
    {
        await Search.InvokeAsync(SearchModel);
    }


}
