@    using PickItEasy.Application.Dtos;
    using PickItEasy.Application.Dtos.WhsOrder.Out;

<div class="card mb-2">
    <div class="card-header">
        <div class="row card-title">
            <div class="col-9">
                <h6><a href="/WhsOrders/Out/Item/@Order?.Id">@Order?.Name</a></h6>
            </div>
            <div class="col-3">
                <h6>@Order?.QueueNumber</h6>
            </div>
        </div>
       
    </div>
    <div class="card-body">
        <div>
            Склад: @Order?.Warehouse?.Name
        </div>
        <div>
            Статус: @Order?.Status?.Synonym
        </div>
        <div>
            Очередь: @Order?.Queue?.Synonym
        </div>
        <div>
            Дата отгрузки: @Order?.ShipDateTime
        </div>
    </div>
    <div class="card-footer">
        <div>@Order?.Comment</div>
    </div>
</div>

@code {
    [Parameter]
    public WhsOrderOutLookupVm? Order { get; set; }
}
