@using PickItEasy.Application.Services.WhsOrdersOut.Queries;
<EditForm Model="@SearchParameters" OnSubmit="() => HandleSubmit(SearchParameters)">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <InputText class="form-control" type="text" id="searchTerm" placeholder="строка поиска" @bind-Value="@SearchParameters.SearchTerm" />
                <button class="btn btn-outline-secondary" type="button" @onclick="ClearSearchTerm">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public required SearchParameters SearchParameters { get; set; }

    [Parameter]
    public EventCallback<SearchParameters> OnSubmit { get; set; }

    private async Task HandleSubmit(SearchParameters searchParameters)
    {
        await OnSubmit.InvokeAsync(searchParameters);
    }

    private async Task ClearSearchTerm()
    {
        SearchParameters.SearchTerm = null;
        await HandleSubmit(SearchParameters);
    }

}
