@    using PickItEasy.Application.Services.WhsOrder.Out.Search;
    using PickItEasy.Application.MediatR.Services.WhsOrder.Out.Search;

@implements IDisposable

@inject SearchParameters SearchParameters

<EditForm Model="@SearchParameters" OnSubmit="SearcHandle" class="mb-2">
    
    <SearchByBarcode OnScannedBarcode="ScannedBarcodeHandle"></SearchByBarcode>

    @if(SearchParameters.IsTerm)
    {
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <InputText type="text" class="form-control" @bind-Value="@SearchParameters.SearchTerm" placeholder="строка поиска" />
                    <button class="btn btn-primary" type="button" @onclick="SearcHandle" title="Поиск">
                        <i class="bi bi-search"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" @onclick="ClearSearchAndSubmit" title="Очистить">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</EditForm>

@code {
    [Parameter] public EventCallback OnSubmit { get; set; }

    protected override void OnInitialized()
    {
        SearchParameters.OnChange += SearchParametersChangedHandle;
    }

    private async Task SubmitHandle()
    {
        await OnSubmit.InvokeAsync();
    }

    private async Task ScannedBarcodeHandle()
    {
        await SubmitHandle();
    }

    private async Task SearcHandle()
    {
        SearchParameters.SetSearchByTerm();
        await SubmitHandle();
    }

    private async Task ClearSearchAndSubmit()
    {
        SearchParameters.ClearSearchByTerm();
        await SubmitHandle();
    }

    private void SearchParametersChangedHandle()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        SearchParameters.OnChange -= SearchParametersChangedHandle;
    }
}
