@using PickItEasy.Application.Services.WhsOrdersOut.Queries

@inject SearchParameters SearchParameters

<EditForm Model="@SearchParameters" OnSubmit="() => SubmitHandle(SearchParameters)">
    <div class="row">
        <div class="col">
            <div class="input-group">
                @if (SearchParameters.Barcode != null)
                {
                    <InputText class="form-control" type="text" id="barcode" placeholder="штрихкод" disabled
                        @bind-Value="@SearchParameters.Barcode" />
                    <button class="btn btn-outline-secondary" type="button" @onclick="Clear">
                        <i class="bi bi-x"></i>
                    </button>
                }
                else
                {
                    <InputText class="form-control" type="text" id="searchTerm" placeholder="строка поиска"
                        @bind-Value="@SearchParameters.SearchTerm" />
                    <button class="btn btn-outline-secondary" type="button" @onclick="Clear">
                        <i class="bi bi-x"></i>
                    </button>
                }
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback<SearchParameters> OnSubmit { get; set; }

    private async Task SubmitHandle(SearchParameters searchParameters)
    {
        await OnSubmit.InvokeAsync(searchParameters);
    }

    private async Task Clear()
    {
        SearchParameters.SearchTerm = null;
        SearchParameters.Barcode = null;
        await SubmitHandle(SearchParameters);
    }
}
