@page "/WhsOrdersOut/List"
<h3>List</h3>
<div>@pageMessage</div>
@if (listWhsOrderOutVm.Orders is not null && listWhsOrderOutVm.Orders.Any())
{
    @foreach (var order in listWhsOrderOutVm.Orders)
    {
        <div>
            <span>
                @order.Name
            </span>
            <span>
                @order.Number
            </span>
            <span>
                @order.DateTime
            </span>
        </div>
    }
}
