@page "/WhsOrdersOut/List"

<h3>List</h3>

<div>@pageMessage</div>

@if (whsOrderOutListVm.Orders is not null && whsOrderOutListVm.Orders.Any())
{
    @foreach (var order in whsOrderOutListVm.Orders)
    {
        <div>
            <span>
                <a href="/WhsOrdersOut/Item/@order.Id">@order.Name</a>
            </span>  
        </div>
    }
}
